environment:
  my_version_number: 0.2.0
  application_name: ProjectEulerWebApp
  project_name: ProjectEulerWebApp-Backend
  nodejs_version: "LTS"

version: $(my_version_number).{build}

skip_tags: true

configuration: Release

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g @angular/cli --loglevel=error

before_test:
  - cd %application_name%-Frontend
  - npm install --loglevel=error
  - ng test --watch=false --progress=false
  - cd ..

before_build:
  - ps: nuget restore -Verbosity quiet

build:
  verbosity: minimal

for:
  - branches:
      only:
        - master

    dotnet_csproj:
      patch: true
      file: '**\*.csproj'
      version: '$(my_version_number)'
      package_version: '$(my_version_number)'
      assembly_version: '$(my_version_number)'
      file_version: '$(my_version_number)'
      informational_version: '$(my_version_number)'

#    after_test:
#      - ps: dotnet publish "-p:PublishProfile=$($env:project_name)\$($env:project_name).csproj" -c:Release -o:Publish\bin\64bit -v:m -r:win-x64 --self-contained:true -p:PublishSingleFile=false -p:PublishTrimmed=true
#
#    artifacts:
#      - path: /Installer/$(application_name).exe
#        name: WinInstaller
#
#    deploy:
#      - provider: GitHub
#        release: $(my_version_number)
#        auth_token: # encrypted token:
#          secure: HESVuhwKdUbPpbBsQrWslB7GYNy5r03/MN/enpu7UWbY886bOE+EpbEFwAVMrtLO #REPLACE WITH TOKEN
#        artifact: WinInstaller, MacInstaller, LinuxInstaller
#        draft: false
#        prerelease: false
#        force_update: false
#        on:
#          branch: master