<h1 id="tableLabel">Euler Problems</h1>

<p *ngIf="!problems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="problems">
  <thead>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>IsSolved</th>
    <th>SolveDate</th>
    <th>Solution</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let problem of problems | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{ problem.id }}</td>
    <td><a [routerLink]="['/Problem/' + problem.id]">{{ problem.title }}</a></td>
    <td>{{ problem.isSolved }}</td>
    <td>{{ problem.solveDate }}</td>
    <td>{{ problem.solution }}</td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="problems === undefined ? 1 : problems.length"
    [boundaryLinks]="true"
    [maxSize]="19"
    [rotate]="true"
    [ellipses]="false"
  ></ngb-pagination>
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="75">75</option>
    <option [ngValue]="100">100</option>
  </select>
</div>

<button class="btn btn-primary" (click)="refreshAll()">
  Refresh All
</button>
