<h1 id="tableLabel">Euler Problems</h1>

<p *ngIf="!problems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="problems">
  <thead>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>IsSolved</th>
    <th>SolveDate</th>
    <th>Solution</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let problem of problems">
    <td>{{ problem.id }}</td>
    <td><a [routerLink]="['/Problem/' + problem.id]">{{ problem.title }}</a></td>
    <td>{{ problem.isSolved }}</td>
    <td>{{ problem.solveDate }}</td>
    <td>{{ problem.solution }}</td>
    <button class="btn btn-primary" (click)="remove(problem)">
      remove
    </button>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="refreshAll()">
  Refresh All
</button>
