h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

.description, .description ::slotted(*), tt {
  white-space: pre-wrap !important;
  font-size: large !important;
  font-family: inherit !important;
  //--font-family-monospace: "Comic Sans MS", monospace !important;
}

li {
  font-size: small;
}
